# vi: ft=python

# # uncomment if you need it in development environment
# CONFIG_DIR = './config'
# EXTERNAL_DOMAINS_CONFIG_FILE = CONFIG_DIR + '/external_domains'

SYSADMIN_EMAIL = 'sysadmin@example.com'
ICINGA_EMAIL = 'icinga@example.com'

# icinga alert page base url, every notify sent by sa-icinga will be attrtched with a wiki link
# For example : http://yourwiki.com/alerts/sshd_down
# Set to '' if you don't want it.
ALERT_WIKI_BASE_URL = 'https://yourwiki.com/alerts'

SMTP_SERVER = ''

NCDU_EXPORT_DATA_PATH = "/data1"
NCDU_JOB_LOCK_PREFIX = "/tmp/sa-disk-ncdu-lock"

NOTIFICATION_GATEWAY_API = ''
NOTIFICATION_GATEWAY_TIMEOUT = 10  # 10s

SA_ES_HOSTS = ['es.svc:8080']
SA_ES_NGINX_ACCESS_INDEX_PREFIX = 'heka-nginx.access-'
SA_ES_NGINX_ACCESS_DOC_TYPE = 'nginx.access'
SA_ES_NGINX_ACCESS_TIMESTAMP_FIELD_NAME = "Timestamp"

PROXIES = {
    "http": "http://gfw:2333",
    "https": "http://gfw:2333",
}

# can be a string pattern which contains {cb_token}
DNS_MONITOR_CALLBACK_URL = 'http://example.com/api/callback/dnsmonitor/{cb_token}'
DEFAULT_DNS_DOMAIN = 'example.com'
